[submodule "firebridge"]
	path = firebridge
	url = https://github.com/OpenBonfire/firebridge
[submodule "fireview"]
	path = fireview
	url = https://github.com/EricApostal/fireview
[submodule "firebridge_extensions"]
	path = firebridge_extensions
	url = https://github.com/OpenBonfire/firebridge_extensions
[submodule "markdown_viewer"]
	path = markdown_viewer
	url = https://github.com/OpenBonfire/markdown_viewer
